body {
  background-color: #191414;
}

.contain {
  display: grid;
  place-items: center;
}

.spotifyLogin {
  margin-top: 20%;
  padding: 5%;
  border-radius: 25px;
  background-color: #1DB954;
  font-size: 5em;
  font-weight: bolder;
  color: #191414;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.title {
  font-size: 5em;
  color: white;
}

.description {
  margin-top: -4%;
  font-size: 2em;
  color: #646464;
}

.message {
  font-size: 1em;
  color: #1DB954;
}

.inputLink {
  width: 1300px;
  border-color: #1DB954;
  border-width: 10px;
  outline: none;
  background-color: #191414;
  font-family: "Segoe UI";
  font-size: 5em;
  color: #1DB954;
}

.submitLink {
  padding: 1%;
  border: none;
  border-radius: 5px;
  background-color: #1DB954;
  font-size: 2em;
  font-weight: bolder;
  color: #191414;
  cursor: pointer;
}

.containForm {
  text-align: center;
}

.convertForm {
  margin-top: 10%;
}

.buffering {
  font-size: 100px;
  margin-top: -5%;
  color: white;
}

.dot {
  animation: blink 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 20% {
      opacity: 1;
  }
  50%, 100% {
      opacity: 0;
  }
}

/* --- Adjusting for Screen Resolution --- */
@media (min-width: 144px) {
  .contain {
    zoom: 7.50%;
  }
}

@media (min-width: 240px) {
  .contain {
    zoom: 12.50%;
  }
}

@media (min-width: 480px) {
  .contain {
    zoom: 16.67%;
  }
}

@media (min-width: 640px) {
  .contain {
    zoom: 33.33%;
  }
}

@media (min-width: 1280px) {
  .contain {
    zoom: 66.67%;
  }
}

@media (min-width: 1366px) {
  .contain {
    zoom: 71.15%;
  }
}

@media (min-width: 1600px) {
  .contain {
    zoom: 83.33%;
  }
}

@media (min-width: 1920px) {
  .contain {
    zoom: 100%;
  }
}

@media (min-width: 2560px) {
  .contain {
    zoom: 133.33%;
  }
}

@media (min-width: 3840px) {
  .contain {
    zoom: 200%;
  }
}